---
title: Stack To Issue
component: ContentPage
---
div.row
  div.col-sm-4
    label(for="stack") Copy your stack here
    textarea(id="stack" name="stack" form="stack_form" rows="20" cols="125")
    span Link this issue if not found : 
    input(type="text", name="issue", id="stack")
    div 
      button(type="button" onClick="this.findStack") Send