---
title: React.js Starter Kit
component: ContentPage
---
div.row
  div.col-sm-4
    h2 Enter your error stack here
    textarea(name="stack" form="stack_form")
    form(id="stack_form" name="stack_form", action="/login", method="post")
      input(type="submit", value="Send")
